<form [formGroup]="myForm" class="form-container">
  <div class="form-group">
    <p-input formControlName="firstname" type='text' labelValue="prénom" [isRequired]="true" placeholder="Votre prénom" inputId="firstname"></p-input>
  </div>

  <div class="form-group">
    <label for="lastname" class="fs-6 text-secondary">Nom</label>
    <input type="text" id="lastname" formControlName="lastname" class="form-control" placeholder="Entre ton nom">
  </div>

  <div class="form-group">
    <label for="mail" class="fs-6 text-secondary">Email</label>
    <input type="email" id="mail" formControlName="mail" class="form-control" placeholder="Entre ton email">
  </div>

  <div class="form-group">
    <label for="addressLine" class="fs-6 text-secondary">Adresse</label>
    <input type="text" id="addressLine" formControlName="addressLine" class="form-control" placeholder="Entre ton adresse">
  </div>

  <div class="form-row d-flex gap-3">
    <div class="form-group flex-fill">
      <label for="city" class="fs-6 text-secondary">Ville</label>
      <input type="text" id="city" formControlName="city" class="form-control" placeholder="Entre ta ville">
    </div>

    <div class="form-group flex-fill">
      <label for="postalCode" class="fs-6 text-secondary">Code postal</label>
      <input type="text" id="postalCode" formControlName="postalCode" class="form-control" placeholder="Entre ton code postal">
    </div>
  </div>

  <div class="form-group">
    <label for="phone" class="fs-6 text-secondary">Téléphone</label>
    <input type="tel" id="phone" formControlName="phone" class="form-control" placeholder="Entre ton numéro de téléphone">
  </div>

  <div class="form-group">
    <label for="password" class="fs-6 text-secondary">Mot de passe</label>
    <input type="password" id="password" formControlName="password" class="form-control" placeholder="Choisis un mot de passe">
  </div>

  <button class="btn btn-primary fs-3 w-75 mt-3" (click)="signUp()">S'inscrire</button>
</form>
