<div class="container">
    <div class="blue-background"></div>
    <div class="avatar">
        <img src="avatar.webp" alt="photo de profil">
    </div>
    <div class="profil-container">
        <p>Nom : xxxxxxx</p>
        <p>Prénom : xxxxxxxx</p>
        <div>
            <p>Mail : xxxxxxxxx</p>
            <button class="modify-button">Modifier</button>
        </div>
        <div>
            <p>Téléphone : xxxxxxxxx</p>
            <button class="modify-button">Modifier</button>
        </div>
    </div>
</div>