<div class="container">
    <img class="logo" src="default-logo.webp" alt="logo plateforme auto ecole" width="80">
    <div class="connexion-inscription-buttons">
        <button class="transparent-button bg1">CONNEXION</button>
        <button class="transparent-button bg2"><a [routerLink]="['/sign-up']">INSCRIPTION</a></button>
    </div>
    <app-sign-in-form [myForm]="signInForm" (signInEmitter)="signIn()">

    </app-sign-in-form>
</div>
<div class="background-1 right"></div>
<div class="background-2 left"></div>