<div class="container">
    <img class="logo" src="default-logo.webp" alt="logo plateforme auto ecole" width="80">
    <div class="connexion-inscription-buttons">
        <button class="transparent-button bg1">CONNEXION</button>
        <button class="transparent-button bg2"><a [routerLink]="['/sign-up']">INSCRIPTION</a></button>
    </div>
    <form [formGroup]="myForm">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Entre ton Email</mat-label>
                <input matInput formControlName="mail">
                <mat-icon matPrefix>mail</mat-icon>
                <mat-hint class="bg1">Email</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Choisis un mot de passe</mat-label>
                <input matInput formControlName="password">
                <mat-icon matPrefix>password</mat-icon>
                <mat-hint class="bg1">Mot de passe</mat-hint>
            </mat-form-field>
        </p>
        <button class="filled-button" (click)="signIn()"><span class="bg2">Se Connecter</span></button>
    </form>
</div>
<div class="background-1 right"></div>
<div class="background-2 left"></div>