<div class="d-flex flex-column align-items-center justify-content-space-between w-100 p-4 gap-3">
    <i class="bi bi-check-circle-fill icon-100 text-success"></i>
    <h2 class="h2">Paiement Réussi !</h2>
    <p class="text-secondary lh-base">Votre paiement a été traité avec succès. Vous allez recevoir un email de confirmation</p>

    <!-- <div class="w-100 alert alert-light d-flex flex-column gap-3" role="alert">
        <p class="d-flex justify-content-between w-100"><span>Montant</span><span> xxx €</span></p>
        <p class="d-flex justify-content-between w-100"><span>Transaction</span><span>id de la trasaction</span></p>
    </div> -->

    <button [routerLink]="['/student/formula']" class="btn btn-primary fs-3 w-75 mt-3">Voir ma formule</button>
    <button [routerLink]="['/student']" class="btn bg-gray-ultra-light text-secondary fs-3 w-75 mt-3">Retour à l'accueil</button>

</div>