<div class="container">
    <div *ngIf="formula"></div>
    <div class="allFormulas" *ngIf="!formula && allFormulas">
        <div class="withCode">Avec code: <div class="slideContainer"><div class="round"></div></div></div>
        <div class="formula-card" *ngFor="let formulaa of allFormulas">
            <p class="formula-title">{{formulaa.title}}</p>
            <ul class="formula-description" *ngFor="let item of splitDescription(formulaa.description)">
                <li>{{item}}</li>
            </ul>
            <button class="filled-button">{{formulaa.price}} €</button>
        </div>
    </div>
</div>

