<div class="d-flex flex-column align-items-center justify-content-space-between w-100 p-4 gap-3">
    <i class="bi bi-x-circle-fill text-danger icon-100"></i>
    <h2 class="h2">Paiement Echoué</h2>
    <p class="text-secondary lh-base">Votre paiement n'a pas pu être traité. Veuillez vérifiez vos informations de paiement et réessayer</p>

    <!-- devra etre remplacer par un composant constant-notification -->
    <div class="w-100 alert alert-danger d-flex flex-column gap-3 align-items-center" role="alert">
        <p><i class="bi bi-exclamation-triangle-fill fs-2"></i> Erreur de paiement</p>
        <p>donner la raison de l'echec</p> 
        <!-- doit devenir dynamique -->
    </div>

    <div class="w-100 alert alert-light d-flex flex-column gap-3" role="alert">
        <p class="d-flex justify-content-between w-100"><span>Formule</span><span>Formule xxx</span></p>
        <p class="d-flex justify-content-between w-100"><span>Montant</span><span> xxx €</span></p>
        <p class="d-flex justify-content-between w-100"><span>Tentative</span><span class="text-danger">Echouée</span></p>
    </div>

    <button [routerLink]="['/student/formula']" class="btn btn-primary fs-3 w-75 mt-3">Retour aux formules</button>

    <div class="w-100 alert alert-light d-flex flex-column align-items-center gap-3" role="alert">
        <p>besoin d'aide ?</p>
        <div class="d-flex gap-4 text-primary">
            <p class="d-flex gap-1"><i class="bi bi-telephone-fill"></i> <a href="tel:0769308772">Appeler</a></p> 
            <p class="d-flex gap-1"><i class="bi bi-envelope-at-fill"></i><a href="mailto:secretariat@ask-autoecole.fr">Email</a> </p>
        </div>
    </div>
</div>