<div class="container">
    <img class="logo" src="default-logo.webp" alt="logo plateforme auto ecole" width="80">
    <div class="connexion-inscription-buttons">
        <button class="transparent-button bg2"><a [routerLink]="['/sign-in']">CONNEXION</a></button>
        <button class="transparent-button bg1">INSCRIPTION</button>
    </div>
    <form [formGroup]="myForm">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Entre ton prénom</mat-label>
                <input matInput formControlName="firstname">
                <mat-icon matPrefix>person</mat-icon>
                <mat-hint class="bg2">Prénom</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Entre ton nom</mat-label>
                <input matInput formControlName="lastname">
                <mat-icon matPrefix>person</mat-icon>
                <mat-hint class="bg2">Nom</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Entre ton Email</mat-label>
                <input matInput formControlName="mail">
                <mat-icon matPrefix>mail</mat-icon>
                <mat-hint class="bg2">Email</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Choisis un mot de passe</mat-label>
                <input matInput formControlName="password">
                <mat-icon matPrefix>password</mat-icon>
                <mat-hint class="bg2">Mot de passe</mat-hint>
            </mat-form-field>
        </p>
        <button class="filled-button" (click)="signUp()"><span class="bg2">S'inscrire</span></button>
    </form>
</div>
<div class="background-1 left"></div>
<div class="background-2 right"></div>