<div class="container">
    <img class="logo" src="default-logo.webp" alt="logo plateforme auto ecole" width="80">
    <div class="connexion-inscription-buttons">
        <button class="transparent-button bg2"><a [routerLink]="['/sign-in']">CONNEXION</a></button>
        <button class="transparent-button bg1">INSCRIPTION</button>
    </div>
    <app-sign-up-form [myForm]="signUpForm" (signUpEmitter)="signUp()">

    </app-sign-up-form>
</div>
<div class="background-1 left"></div>
<div class="background-2 right"></div>