<div
  class="container-fluid d-flex flex-column align-items-center justify-content-between gap-5 mt-5"
>
  <div
    class="d-flex flex-column justify-content-between align-items-center gap-3"
  >
    <img
      class="logo"
      src="profil.png"
      alt="logo plateforme auto ecole"
      width="100"
    />
    <p class="h3">Réinitialisation du mot de passe</p>
    <p class="text-secondary">Choisissez un nouveau mot de passe</p>
  </div>
  <div
    class="w-100 d-flex flex-column justify-content-center align-items-center gap-3"
  >
    <app-reset-form
      class="w-100"
      [myForm]="resetForm"
      (submitResetForm)="onSubmitResetForm()"
      [isFormSubmitted]="isFormSubmitted"
    >
    </app-reset-form>
  </div>
  <div class="d-flex flex-column align-items-center gap-2">
    <p>Vous n'avez pas de compte ?</p>
    <a class="text-primary" [routerLink]="['/sign-up']"> Créer un compte</a>
  </div>
</div>
<p-notification
  *ngIf="error$ | async as error"
  status="error"
  (click)="clearError()"
>
  <p class="text-center lh-base" notification-content>
    {{ error.message }}
  </p>
</p-notification>
