<div class="d-flex flex-column align-items-start gap-1 w-100">
  <label class="text-secondary fs-7">{{ labelValue }}</label>

  <div class="d-flex flex-column align-items-start gap-2">
    <button type="button" (click)="addInput()" class="btn btn-primary mt-2">
      Ajouter un champ
    </button>
    <div
      class="input-group"
      *ngFor="let ctrl of formArray.controls; let i = index"
    >
      <input
        type="text"
        [formControl]="ctrl"
        (blur)="onTouched()"
        class="form-control"
        placeholder="Entrez une valeur"
      />
      <button type="button" (click)="removeInput(i)" class="btn btn-danger">
        Supprimer
      </button>
    </div>
  </div>
</div>
